<div class="container">
  <div class="row">
    <div class="content-div col-md-8 col-md-offset-2">
      <h1>We need feedback requests!</h1>

      <p class="text-info">We tried to find an idea for you to review, but nothing turned up...</p>

      <% if current_user.ideaAmmo.nil? || current_user.ideaAmmo == 0 %>
        <h3>So we're giving you a <i>free idea ammo</i> to post your own idea! <%= link_to "Now go post!", new_idea_path %> </h3>
    <% else %>
        <h3>So while we wait, <%= link_to "Go post your idea!", new_idea_path %> </h3>
    <% end %>
    </div>
  </div>
</div>
