<%= form_for(@idea, html: {'data-parsley-validate' => ''}) do |f| %>
<div class="form-group">
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><a href='http://daringfireball.net/projects/markdown/syntax'> (You can use Markdown)</a><br>
    <%= f.text_area :description, 'data-parsley-validation-threshold' => "0", 'data-parsley-trigger' => "keyup", 'data-parsley-minlength' => 100, class: 'form-control', rows: 5 %>
  </div>

  <div class="actions">
    <% if action_name == 'new' %>
      <%= f.submit "Post Idea", class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit "Update", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<% end %>
