<p>
<h2>
  <%= @idea.title %>
</h2>
</p>
<div style='text-align:left' class="well">
  <%= $markdown.render(@idea.description).html_safe %>
</div>
<% if current_user.id == @idea.userId %>
  <%= link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-primary' %>
  <%= link_to 'Delete', @idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
  <br />
<br />
<p>Created <%= time_ago_in_words(@idea.created_at) %> ago by user #<%= @idea.userId %></p>
<% end %>
