<div class="container" ng-controller='ideasCtrl' ng-init="ideaAmmo = <%= current_user.ideaAmmo? ? current_user.ideaAmmo : 0 %>">
  <div class="row">
    <div class="padded col-md-2 col-md-offset-1 content-div">
      <i style="font-size:60pt" class="fa fa-lightbulb-o fa-6"></i>
      <h3>Idea Ammo: <span style="font-size:20pt;" class="badge">{{ideaAmmo}}</span></h3>
      <p>Idea ammo is used to gather feedback on your ideas</p>
    </div>
    <div class="padded col-md-3 col-md-offset-1 content-div">
      <i style="font-size:60pt" class="fa fa-bullhorn fa-6"></i>
      <p class="lead">Ready to earn idea ammo?</p>
      <p>Help others out by providing objective feedback on their startup ideas.</p>
      <%= link_to 'Give Feedback', new_idea_response_path, class: 'btn btn-primary btn-lg', style: 'color:white' %>
    </div>
    <div class="padded col-md-3 col-md-offset-1 content-div">
      <i style="font-size:60pt" class="fa fa-users fa-6"></i>
      <p class="lead">Want Feedback?</p>
      <p>Spend idea ammo to get feedback on your idea.</p>
      <%= link_to 'Create Idea', new_idea_path, class: 'btn btn-primary btn-lg', style: 'color:white', 'ng-disabled' => 'ideaAmmo == 0' %>
    </div>
  </div>
  <div class="row">
    <h2 class="sub-header">Latest Valid8or Startup Ideas</h2>
    <div class="table-responsive content-div col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Ideas</th>
            <th>Idea Descriptions</th>
            <th>Responses</th>
            <th>Post Date</th>
          </tr>
        </thead>
        <tbody>
        <% if @ideas.count == 0 %>
          <tr>
          <td>
            <p class="lead">No ideas here yet. Click "Create Idea" to post your idea!.</p>
          </td>
        </tr>
      <% end %>
        <% @ideas.each do |idea| %>
          <tr onclick="window.location.href='<%=idea_path(idea)%>'" ng-controller='ideaCtrl' ng-init="ideaId = <%= idea.id %>; responseRequestsPending = <%= idea.responseRequestsPending %>;">
          <td>
            <%#= link_to idea do %>
              <h4><%= idea.title%></h4>
            <%# end %>
          </td>
          <td><%= truncate(idea.description) %></td>
          <td><span class="badge" style="font-size:20pt;"> <%= idea.getResponses().count %></span></td>
          <td><%= time_ago_in_words(idea.created_at) %> ago</td>
        </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% if current_user.get_ideas().count == 0 and !cookies[:how_to_shown]%>
  <% cookies[:how_to_shown] = true %>
  <script>
    //$('#how_to_modal').modal()    
  </script>
<% end %>

