<div class="container">
  <div class="row">
    <div class="content-div col-md-8 col-md-offset-2">
      <h1>New Startup Idea</h1>
      <div class="panel panel-info">
        <div class="panel-heading">Posting Guidelines</div>
        <div class="panel-body">
          <p>The best ideas clearly state the <b>pain or problem</b> that a certain demographic has, followed by a clear statement of a <b>solution.</b> </p> 
        </div>
      </div>
      <%= render 'form' %>
      <%= link_to 'Back', ideas_path %>
    </div>
  </div>
</div>
