<div class="container">
  <%= render partial: 'ideas/idea', layout: 'layouts/content' %>
  <hr />
  <br />
  <% @idea_responses.each do |idea_response| %>
    <div class="row">
    <div class="content-div col-md-8 col-md-offset-2">
      <%= render partial: 'idea_responses/idea_response', locals: {idea_response: idea_response} %>
    </div>
  </div>
  <br />
<% end %>
</div>
<%= link_to 'Back', ideas_path, class: 'btn btn-primary' %>
