<%= form_for(@response_request) do |f| %>
  <% if @response_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response_request.errors.count, "error") %> prohibited this response_request from being saved:</h2>

      <ul>
      <% @response_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ideaId %><br>
    <%= f.number_field :ideaId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
