<h1>Listing response_requests</h1>

<table>
  <thead>
    <tr>
      <th>Ideaid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @response_requests.each do |response_request| %>
      <tr>
        <td><%= response_request.ideaId %></td>
        <td><%= link_to 'Show', response_request %></td>
        <td><%= link_to 'Edit', edit_response_request_path(response_request) %></td>
        <td><%= link_to 'Destroy', response_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response request', new_response_request_path %>
