<p id="notice"><%= notice %></p>

<p>
  <strong>Ideaid:</strong>
  <%= @response_request.ideaId %>
</p>

<%= link_to 'Edit', edit_response_request_path(@response_request) %> |
<%= link_to 'Back', response_requests_path %>
