<h3>
  <%= $markdown.render(@idea.description).html_safe %>
</h3>
<p>On <%= @idea_response.created_at %>, user <%= @user.id %> said:
<br />
<%= $markdown.render(@idea_response.description).html_safe %>

<p>Log in to <a href="http://valid8or.com">valid8or</a> to see the full post, or to comment</p>
