<h2> How Does It Work?</h2>
<div class="jumbotron">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <i style="font-size:60pt" class="fa fa-thumbs-o-up fa-6"></i>
        <i style="font-size:60pt" class="fa fa-thumbs-o-down fa-6"></i>
        <p class='lead'>Give Someone Feedback</p>
        <h5>Before you can get feedback, you must first give. So tell a fellow entrepreneur if you think their idea has merit, or can be improved.</h5>
      </a>
      <a href="#">
        <i style="font-size:60pt" class="fa fa-lightbulb-o fa-6"></i>
        <p class='lead'>Post Your Idea</p>
        <h5>Post your idea, and you'll be next in line to receive feedback.</h5>
      </a>      <a href="#">
        <i style="font-size:60pt" class="fa fa-refresh fa-6"></i>
        <p class='lead'>Repeat!</p>
        <h5>Continue to give feedback, and you can request more feedback on your idea, or post a new idea.</h5>
      </a>
    </div>
  </div>
</div>
