
<h1>The guy behind Valid8or</h1>
<p class="lead ">I'm Will, a software engineer living and working near Albany, NY (United States). If you enjoy Valid8or and/or have feedback on how it can be improved, <a class='btn btn-lg btn-primary' href='mailto:wmacaluso@gmail.com' >email me!</a></p>
<br />
<br />
