<h1 class="cover-heading">Trade Feedback to Easily Validate Your Startup Ideas</h1>
<p class="lead">Getting feedback on your startup ideas can be stressful. Join a like-minded community of entrepreneurs: For each startup idea that you review and provide feedback, you'll be repaid the favor. Guaranteed.</p>

<%= link_to user_omniauth_authorize_path(:facebook) do %>
  <button class='btn btn-primary btn-lg'>Login with Facebook <i class="fa fa-facebook-square fa-6"></i></button>
<% end %>
<%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
  <button class='btn btn-danger btn-lg'>Login with Google <i class="fa fa-google-plus-square fa-6"></i></button>
<% end %>
<%#= link_to user_omniauth_authorize_path(:twitter) do %>
  <!-- <button class='btn btn&#45;info btn&#45;lg'>Login with Twitter <i class="fa fa&#45;twitter&#45;square fa&#45;6"></i></button> -->
<%# end %>

<%= link_to user_omniauth_authorize_path(:linkedin) do %>
  <button class='btn btn-primary btn-lg'>Login with LinkedIn <i class="fa fa-linkedin-square fa-6"></i></button>
<% end %>
</ul>
<br />
<br />
<%= link_to "Sign up", 'users/sign_up', class: "btn btn btn-success" %>
<%= link_to "Log In", ideas_path, class: "btn btn btn-info" %>


