<%= form_for(@idea_response, html: {'data-parsley-validate' => ''}) do |f| %>
  <div class="form-group">
  <% if @idea_response.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@idea_response.errors.count, "error") %> prohibited this idea_response from being saved:</h2>

    <ul>
      <% @idea_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="field">
    <%= f.label 'My Feedback' %><a href='http://daringfireball.net/projects/markdown/syntax'> (You can use Markdown)</a><br>
    <%= f.text_area :description, 'data-parsley-validation-threshold' => "0", 'data-parsley-trigger' => "keyup", 'data-parsley-minlength' => 100, rows: 5, class: 'form-control' %>
  </div>

  <% if defined? @idea %>
    <%= hidden_field :idea_response, :ideaId %>
<% end %>

<div class="actions">
  <% if action_name == 'new' %>
    <%= f.submit "Give Feedback", class: 'btn btn-primary' %>
  <% else %>
    <%= f.submit "Update", class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
<% end %>
