<div ng-controller='ideaResponseCtrl' ng-init='ideaResponseId = <%= idea_response.id %>' >
  <p> Created <%= time_ago_in_words(idea_response.created_at) %> ago by user #<%=idea_response.userId%></p>

  <div style='text-align:left' class="well">
    <%= $markdown.render(idea_response.description).html_safe %>
  </div>

  <!-- Links -->
  <% if !(action_name == 'show' and controller_name == 'idea_responses') and idea_response.userId == current_user.id %>
    <%= link_to 'Details', idea_response, class:'btn btn-primary' %>
<% end %>

  <% if idea_response.userId == current_user.id %>
    <%= link_to 'Edit', edit_idea_response_path(idea_response), class:'btn btn-primary' %>
<% end %>
  <button class='btn btn-primary' ng-click="showNewCommentTextarea()">Add Comment</button>
  </p>

  <hr style="border-color:lightgrey; border-style:dashed;" />

  <!--Hidden textarea for comments-->
  <div ng-hide='!newCommentTextareaIsVisible'>
    <textarea class='form-control' id='new_comment_textarea' ng-model='newCommentDescription'></textarea>
    <br />
    <button class='btn btn-primary btn-xs' ng-click='createIdeaResponseComment()'>Add New Comment</button>
    <hr style="border-color:lightgrey; border-style:dashed;" />
  </div>


  <!--idea response comments-->
  <div id='ideaResponseCommentsDiv'>
    <% idea_response.comments.each do |idea_response_comment| %>
      <%= render partial: 'idea_response_comments/idea_response_comment', locals: {idea_response_comment: idea_response_comment} %>
    <hr style="border-color:lightgrey; border-style:dashed;" />
  <% end %>
  </div>

</div>
