
<h1>Editing Your Response:</h1>
<div class="container">
  <div class="row">
    <div class="content-div col-md-8 col-md-offset-2">
      <%= render 'ideas/idea' %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="content-div col-md-8 col-md-offset-2">
      <%= render 'form' %>
    </div>
  </div>
  <br />
</div>
</div>

<%= link_to 'Back to Ideas', ideas_path, class: 'btn btn-primary ' %>
