<div class="container">
  <div class="row">
    <h2 class="sub-header">Feedback I've Given</h2>
    <div class="table-responsive content-div col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Idea Responses</th>
            <th>Edit Response</th>
            <th>Delete Response</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
        <% if @idea_responses.count == 0 %>
          <tr>
          <td>
            <p class="lead">You haven't given any feedback yet...Click <a href='/idea_responses/new'>here</a> to get started and earn some idea ammo.</p>
          </td>
        </tr>
      <% end %>
        <% @idea_responses.each do |idea_response| %>
          <tr>
          <td>
            <%= link_to idea_response do %>
              <h4>In response to: '<%= idea_response.idea.title %>'</h4>
          <% end %>
          </td>
          <!-- <td><%#= link_to 'Show', idea %></td> -->
          <td><%= link_to edit_idea_response_path(idea_response) do %>
            <i class="fa fa-edit fa-2x"></i>
          <% end %>
          </td>
          <td>
            <%= link_to idea_response, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash fa-2x"></i>
          <% end %> 
          </td>
          <td><span class="badge" style="font-size:20pt;"> <%= idea_response.comments.count%><span></td>
        </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br />
<%= link_to 'New Idea response', new_idea_response_path, class: 'btn btn-primary btn-lg' %>
