<div class="container">
  <div class="row">
    <div class="content-div col-md-8 col-md-offset-2">
      <%= render 'ideas/idea' %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div ng-controller='newIdeaResponseCtrl' ng-init='response_request_id = <%= @response_request.id %>' class="content-div col-md-8 col-md-offset-2">
      <%= render 'form' %>
      <%= link_to 'Back to Ideas', ideas_path %>
    </div>
  </div>
  <br />
  <% @earlierResponses.each do |idea_response| %>
    <div class="row">
    <div class="content-div col-md-8 col-md-offset-2">
      <%= render partial: 'idea_responses/idea_response', locals: {idea_response: idea_response} %>
    </div>
  </div>
  <br />
<% end %>

</div>
</div>
