<div class="container">
  <%= render partial: 'ideas/idea', layout: 'layouts/content' %>
  <br />
  <%= render partial: 'idea_responses/idea_response', layout: 'layouts/content', locals: {idea_response: @idea_response} %>
  <br />
  <%= link_to 'Back to my Responses', idea_responses_path, class:'btn btn-primary'%>  
  <%= link_to 'Back to my Ideas', ideas_path, class:'btn btn-primary' %>
</div>
