<div id="how_to_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">How to Start Trading Feedback</h3>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="idea_responses/new" class="list-group-item">
            <h4 class="list-group-item-heading">1) Give Feedback using the "Give Feedback" button</h4>
            <p class="list-group-item-text">Valid8or relies on a feedback queue to sustain responses, so to post your idea, first click on the "Give Feedback" button (or click here)
            </p>
            <!-- <a href='idea_responses/new' class='btn'>Give Feedback</a> -->
            <button class='btn btn-warning btn-sm'>Give Feedback to Earn 1 Idea Ammo</button>

          </a>
          <a href="ideas/new" class="list-group-item">
            <h4 class="list-group-item-heading">2) Post your Idea</h4>
            <p class="list-group-item-text">Once you've posted your feedback, you'll have earn 1 idea ammo. You can now post your idea and receive feedback. Click "Create Idea" (or click here) </p>

            <button class='btn btn-success btn-sm'>Spend 1 Idea Ammo to Post Your Idea</button>
          </a>
          <a href="ideas?all_users=0" class="list-group-item">
            <h4 class="list-group-item-heading">3) Request more Feedback</h4>
            <p class="list-group-item-text">You can spend more idea ammo on your ideas to get more feedback. Just click the "Request Feedback" button under "My Startup Ideas"</p>

            <button class='btn btn-info btn-sm'>Go to My Ideas and Request more Feedback</button>
          </a>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
