// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-div{
  box-shadow: 5px 5px 5px grey;
  background-color: #EEEEEE;
  padding:10px;
}

#how_to_modal{
  text-align:left;
}
