<%= form_for(@idea_response_comment) do |f| %>
  <% if @idea_response_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea_response_comment.errors.count, "error") %> prohibited this idea_response_comment from being saved:</h2>

      <ul>
      <% @idea_response_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idea_response_id %><br>
    <%= f.number_field :idea_response_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
