<blockquote style='padding:0px;'>
  <p><%= idea_response_comment.description %></p>
  <footer>By user#<%= idea_response_comment.user_id %> <cite title="Creation Date"><%= time_ago_in_words(idea_response_comment.created_at) %> ago</cite></footer>
<% if idea_response_comment.user_id == current_user.id %>
  <%#= link_to 'Edit', edit_idea_response_comment_path(idea_response_comment), class:'btn btn-xs btn-primary' %>
<% end %>
</blockquote>

