<h1>Listing idea_response_comments</h1>

<table>
  <thead>
    <tr>
      <th>Idea response</th>
      <th>User</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @idea_response_comments.each do |idea_response_comment| %>
      <tr>
        <td><%= idea_response_comment.idea_response_id %></td>
        <td><%= idea_response_comment.user_id %></td>
        <td><%= idea_response_comment.description %></td>
        <td><%= link_to 'Show', idea_response_comment %></td>
        <td><%= link_to 'Edit', edit_idea_response_comment_path(idea_response_comment) %></td>
        <td><%= link_to 'Destroy', idea_response_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea response comment', new_idea_response_comment_path %>
