<p id="notice"><%= notice %></p>

<p>
  <strong>Idea response:</strong>
  <%= @idea_response_comment.idea_response_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea_response_comment.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea_response_comment.description %>
</p>

<%= link_to 'Edit', edit_idea_response_comment_path(@idea_response_comment) %> |
<%= link_to 'Back', idea_response_comments_path %>
