<!DOCTYPE html>
<html ng-app='valid8or'>
<head>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-58061305-1', 'auto');
ga('send', 'pageview');

</script>

<title>Valid8or</title>
<link rel="icon" type="image/png" href="<%= asset_path('favicon.ico') %>">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>
<body >
<%= render 'modals/how_to' %>
<% if notice %>
  <p style='position:absolute' class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p style='position:absolute' class="alert alert-danger"><%= alert %></p>
<% end %>

<% if !current_user.nil? %>

  <div class="container">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">


      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Valid8or</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="<%=  controller_name == 'ideas' && params[:all_users] != '0' ? :active : ''%>"><a href="/ideas?all_users=1"><i class='fa fa-globe fa-6'></i> Latest Ideas</a></li>
          <li class="<%= controller_name == 'ideas' && params[:all_users] == '0' ? :active : ''%>"><a href="/ideas?all_users=0"><i class="fa fa-lightbulb-o fa-6"></i> My Ideas</a></li>
          <li class="<%= controller_name == 'idea_responses' ? :active : '' %>"><a href="/idea_responses"><i class="fa fa-bullhorn fa-6"></i> Feedback I've Given</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li><button class='btn btn-info btn-sm' type="button" data-toggle="modal" data-target="#how_to_modal"><i style="font-size:13pt;" class="fa fa-question"></i> FAQ</button></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <li><a href='#'>Logged in as <strong><%= current_user.email %></strong></a></li>
        <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>

</div>

<br />
<br />
<br />
<br />
<% end %>

<%= yield %>
<br />
<br />
</body>
</html>
