<!DOCTYPE html>
<html ng-app='valid8or'>
<head>

<meta name="description" content="Trade feedback on your startup ideas with like-minded entrepreneurs">

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-58061305-1', 'auto');
ga('send', 'pageview');

</script>
<title>Valid8or</title>
<link rel="icon" type="image/png" href="<%= asset_path('favicon.ico') %>">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>
<body >
<% if notice %>
  <p style='position:absolute' class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p style='position:absolute' class="alert alert-danger"><%= alert %></p>
<% end %>
<div id="global-div">
  <div class="site-wrapper">
    <div id="splash" class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><a href='/'>Valid8or</a></h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="<% if action_name == 'splash' %>active<% end %>"><a href="/">Home</a></li>
                <li  class="<% if action_name == 'about' %>active<% end %>" ><a href="/home/about">About</a></li>
                <li  class="<% if action_name == 'contact' %>active<% end %>" ><a href="/home/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="inner cover">
          <%= yield %>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  </html>
